.box {
    display: block;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #ffffff;
  }

 
  button {
    padding: 30px;
    margin: 24px;
    cursor: pointer;
    font-size: 20px;
    background-color: #ac0808;
    color: white;
    width: 250px;
    height: 60px;
    border-radius: 20px;
  }

  textarea, select {
    height: 200px;
    margin-right: 10px;
    font-size: 20px;
    width: 90%;
  }
  